# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Vercel
.vercel/

# dotenv
.env.local
.env.development.local
.env.production.local
.env.test.local

# Turbo
.turbo

# Firebase
.firebase/
.firebaserc
firebase.json

# Temporary files
private_key.tmp
